@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html{
    height: 100%;
    margin: 0;
}
body {
    height: 100%; 
    background-color: black; 
}
.img-container{
    text-align: center;
    margin-top:50px; 
}
img {
    height: auto; 
    width: 25vh; 
}

input {
    font-family: 'Noto Sans KR', sans-serif; 
    float: left; 
    width: 100%;  
    margin-left: 5%;  
    font-size: 2em; 
    border-right:none; 

}
button {
    font-family: 'Noto Sans KR', sans-serif; 
    cursor: pointer; 
    float: right;  
    width: 80px; 
    font-size: 2em;
    background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);


}
.search-bar{
    margin-top: 5vh; 
    position: relative; 
    /*display: inline-block; */ 
    display: flex; 
    width:100%; 
    height:9vh; 
}
